language: generic
os:
- linux
- osx
env:
  global:
  - CONDA_PREFIX=$HOME/miniconda
  - MINICONDA_URL_BASE="https://repo.continuum.io/miniconda/Miniconda2-latest"
  - TRAVIS_PYTHON_VERSION="2.7"
  - secure: "eD9CWCKLkiPtfwAMQoj0YKQEkbONS+sBRBKaeF2pPevgLRX33HEKV/irNCX7e/u29ltR3JSDRZL9RrqUpb4b8sttUEmyuvPCh2sF49ItqBYPm5+OOkgQJntdGNWy3O8TdAgVFUCRstj+0f4ond9jLU/H0eXNOpZFffFY2lli1vz1ENhJdkcAuYD/YL4y2CsyWr1OS/+LSQ42VbpeREU3DtP2ZOscjdWcUy+HFx98ZN8jtnmKARBXWlLmFF5u7e/R0/yFkisVJGopXXym5rrvY6HoTFK9UJH440RL4OJ4gY0gVv4ucoW3hpExWpfLFQRzoZMxR5OVaJhkEJeruthPz99hhwKMkqZpjkR5Ii9Y2AlnnqFJ5zp1DoTIi2FfseEfNMp4DZc1iQNKGieHr7rK5Dh488KVeM78c6hRU16193uM1WGfY604fgyDAkYMHp08D2ToYFHQnHe485IKGkHdZuK2r6ZaASTyGToVoc3okb4mcFBH6NeGi/whGxvnDj0auO4YzS6jt4lBzzId2tiKGt81iJCP+9/NGDc6+oGcHwEt4YIBC72sFeXdjY4OVimsweULr+P11uzcvV/rm8VF2Ar8m/GRB94QMPOfsPAZXR4fe9GGLgSn/HC05lUKaiiYREE5+9hT4Yh3VC1hZkq1UPnjqTZlUYekXqPhdxSn3b8="
dist: trusty
sudo: false
before_install:
- |
  if [[ $TRAVIS_OS_NAME == "osx" ]]; then
    brew remove --force $(brew list)
    brew cleanup -s
    rm -rf $(brew --cache)
  fi
install:
- |
  if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
    OS="MacOSX-x86_64"
  else
    OS="Linux-x86_64"
  fi
- curl $MINICONDA_URL_BASE-$OS.sh > $HOME/minconda.sh
- bash $HOME/minconda.sh -b -p $CONDA_PREFIX
- export PATH="$CONDA_PREFIX/bin:$PATH"
- hash -r
- conda config --set always_yes yes --set changeps1 no
- conda install python=$TRAVIS_PYTHON_VERSION
- conda install -q conda-build anaconda-client coverage sphinx
script:
- conda build ./recipe -c csdms-stack -c conda-forge
after_success:
- curl https://raw.githubusercontent.com/csdms/ci-tools/master/anaconda_upload.py
  > $HOME/anaconda_upload.py
- echo $ANACONDA_TOKEN | python $HOME/anaconda_upload.py ./recipe --channel=main --org=csdms-stack
  --token=-
